{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>SAPAM</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!--
  Iconos diseñados por <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
  Iconos diseñados por <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
  Iconos diseñados por <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
  -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e3ff2103c3.js" crossorigin="anonymous"></script>

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <!--
    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    -->

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="" class="scrollto"><span>SAPAM</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">Conocenos</a></li>
          <li><a href="#Colaboradores">Colaboradores</a></li>
          <li><a href="#Nosotros">Nosotros</a></li>
          <li><a href="#faq">Preguntas frecuentes</a></li>
          <!--
          <li><a href="#team">Team</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#footer">Contact Us</a></li>
          -->
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h5 style="color: #065e77;"><b>Sabemos que en estos tiempos los adultos mayores necesitan quedarse en casa y para nosotros cuidarlos es lo mas importante.</b><br><br><span><b>¿Necesitas ayuda para realizar pagos, trámites o compras? hace click en el botón de abajo.</b></span></h5>
          <div>
            {% if user.is_authenticated %}
              <a href="{% url 'usuarios:redirecciona'%}" class="btn-get-started scrollto text-center">¡Solicitar asistencia!</a>
		        {% else %}
              <a href="{% url 'usuarios:login_ancianos'%}" class="btn-get-started scrollto text-center">¡Solicitar asistencia!</a>
	        	{% endif %}

          </div>
            
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <!--
            Creador de la imagen debemos ponerlo en algun lado
            <a href='https://www.freepik.es/vectores/personas'>Vector de Personas creado por freepik - www.freepik.es</a>-->
          <img src="{% static 'img/servicios/intro.png' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <!--
              <a href='https://www.freepik.es/vectores/personas'>Vector de Personas creado por iconicbestiary - www.freepik.es</a>
              -->
              <img src="{% static 'img/about-img.jpg' %}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>¿Qué hacemos?</h2>
              <h3>Brindamos una herramienta simple e intuitiva para que personas mayores puedan realizar tareas cotidianas sin salir de su casa, mediante la ayuda un Colaborador registrado.</h3>
              <p><b>Nuestros Colaboradores realizan tareas tales como:</b></p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i><b> Compra de alimentos.</b></li>
                <li><i class="ion-android-checkmark-circle"></i><b> Compra de medicamentos.</b></li>
                <li><i class="ion-android-checkmark-circle"></i><b> Trámites.</b></li>
                <li><i class="ion-android-checkmark-circle"></i><b> Pago de servicios.</b></li>
              </ul>
              <h3>Los adultos mayores pueden ingresar a nuestra web, desde cualquier dispositivo, y registrarse para acceder a los servicios que ofrecen nuestros Colaboradores.</h3>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->

<!--==========================
    Colaboradores Section
  ============================-->
  <section id="Colaboradores" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 Colaboradores-info order-md-first order-last">
          <br>
          <h5 class="text-center" style="color: #065e77;"><b>¿Quieres ser un Colaborador?</b><br><br>Si estás interesado en serlo y dar asistencia a adultos mayores en la compra de alimentos, medicamentos, pago de servicios y/o trámites, no dudes en registrarte haciendo click sobre este botón.</h5>
          <div>
            {% if user.is_authenticated %}
            <a href="{% url 'usuarios:redirecciona'%}" class="btn-get-started scrollto text-center">Ingresar</a>
          {% else %}
            <a href="{% url 'usuarios:login_colaboradores'%}" class="btn-get-started scrollto text-center">Ingresar</a>
          {% endif %}

          </div>
            
        </div>
  
        <div class="col-md-6 Colaboradores-img order-md-last order-first">
          <!--
            Creador de la imagen debemos ponerlo en algun lado
            <a href='https://www.freepik.es/vectores/personas'>Vector de Personas creado por freepik - www.freepik.es</a>-->
          <img src="{% static 'img/colaboradores/colaborador.png' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

    <!--==========================
      Team Section
    ============================-->

    <section id="Nosotros" class="section-bg">
      <div class="container"><br>
        <header class="section-header">
          <h3>Nosotros</h3><br>
          <center><h5 style="color: #065e77;">En carácter de proyecto final al programa "Informatorio" impulsado por el Gobierno del Chaco, un grupo de estudiantes idea una alternativa para resguardar la salud de las personas de mayor edad, consideradas como "personas de riesgo", naciendo así el "Servicio de asistencia para adultos mayores" (SAPAM).</h5></center>
        </header>
        <br>

        <div class="row justify-content-center">
<!-- #1 -->
                <div class="col-lg-3 col-md-5">
                  <div class="member">
                    <img src="{% static 'img/augusto.png' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <h4 class="text-center">Marega Augusto</h4>
                        <div class="social">
                      </div>
                    </div>
                  </div>
                </div>
<!-- #2 -->
                <div class="col-lg-3 col-md-8">
                  <div class="member">
                    <img src="{% static 'img/cintia.png' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <h4 class="text-center">Veron Cintia</h4>
                        <div class="social">
                      </div>
                    </div>
                  </div>
                </div>
<!-- #3 -->
                <div class="col-lg-3 col-md-10">
                  <div class="member">
                    <img src="{% static 'img/cristian.png' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <h4 class="text-center">Barbona Cristian</h4>
                        <div class="social">
                      </div>
                    </div>
                  </div>
                </div>
<!-- #4 -->
                <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <img src="{% static 'img/claudia.png' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <h4 class="text-center">Benitez Claudia</h4>
                        <div class="social">
                      </div>
                    </div>
                  </div>
                </div>
<!-- #5 -->
                <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <img src="{% static 'img/veronica.png' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <h4 class="text-center">Azanza Verónica</h4>
                        <div class="social">
                      </div>
                    </div>
                  </div>
                </div>
<!-- #6 -->
                <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <img src="{% static 'img/alejandro.png' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <h4 class="text-center">Gutiérrez Alejandro</h4>
                        <div class="social">
                      </div>
                    </div>
                  </div>
                </div>
<!-- #7 -->
                <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <img src="{% static 'img/damian.png' %}" class="img-fluid" alt="">
                    <div class="member-info">
                        <h4 class="text-center">Lucero Damián</h4>
                        <div class="social">
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </section><!-- #team -->

    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container"><br><br>
        <header class="section-header">
          <h3>Preguntas frecuentes</h3>
        </header><br><br>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">¿La asistencia a quienes va dirigido? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p><b>
                El servicio va dirigido a personas de la tercera que edad que tengan la necesidad de abastarserce de medicamentos, alimentos, realizar pagos de algunos servicio (y no puede hacerlo por medios electrónicos) o requiere que se gestione algun trámite presencial como por ejemplo, sacar turnos.
              </b></p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">¿Es posible elegir al colaborador cuando solicito el servicio? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p><b>
                No, el sistema de selección de colaboradores funciona con asignación aleatoria.
              </b></p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">¿Es seguro entregar dinero al colaborador? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p><b>
                Si, es seguro. Los colaboradores son elegidos con un análisis completo antes de habilitarlos como tal y como parte del servicio, se debe dejar un registro de lo realizado y hacer entrega de comprobantes de pago al finalizarlo.
              </b></p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">¿Como colaborador, puedo elegir o rechazar solicitudes? <i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p><b>
                La selección es aleatoria y no hay posibilidad de rechazo.
              </b></p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">¿Cómo solicitar asistencia? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p><b>
                Registrate para crear tu cuenta y luego inicia sesión, verás los servicios disponibles que realizan los colaboradores y en base a tu necesidad elige entre las opciones, de esta manera tu solicitud será entregada al colaborador para que entrar en contacto contigo y eso es todo, asi de sencillo.
              </b></p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">¿El uso del servicio que brindan tiene algún costo? <i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p><b>
                Es absolutamente gratuito, el objetivo del mismo es poder brindar una herramienta para el adulto mayor. Sólo se necesita tener el dinero para que el colaborador pueda realizar los pagos y compras pertinente a cada solicitud.
              </b></p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- #faq -->

  </main><br>

  <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container" style="max-width: 100%"><br>
            <div class="clients owl-dot">
              <img src="{% static 'img/clients/colaboracion1.png' %}" alt="" style="width: 100%; background-color: #065e77;">
            </div>
      </div>
    </section><!-- #clients -->

  <!--==========================
    Footer
  ============================-->
  <!--
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-5">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>SAPAM</h3>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                  </div>

                  <div class="footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem.</p>
                    <form action="" method="post">
                      <input type="email" name="email"><input type="submit"  value="Subscribe">
                    </form>
                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Terms of service</a></li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      A108 Adam Street <br>
                      New York, NY 535022<br>
                      United States <br>
                      <strong>Phone:</strong> +1 5589 55488 55<br>
                      <strong>Email:</strong> info@example.com<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Envia un mensaje</h4>
              <p>Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi harum aut temporibus.</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>

          </div>

          

        </div>

      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
      </div>
      <div class="credits">
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer> #footer --> 

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->
  
  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
