{% extends 'base.htm' %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}
<section id="services" class="section-bg">
	<div class="container"><br><br>
        <h2 class="text-center"><b>Recuperar contraseña</b></h2><br>
    <div id="row" class="row justify-content-center align-items-center">
        <form id="login-form" class="form" action="" method="POST">{% csrf_token %}
	        <div class="form-inline">
	            	<div class="form-group">
	                    <input type="id_email" class="form-control" name = "email"placeholder="Ingrese email"></input>
	                </div>
	                <input type="submit" name="submit" class="btn btn-info btn-md entrer" value="Enviar">
	        </div>
        </form>
    </div>
    </div>
</section>

{% endblock %}