{% extends 'base.htm' %}
{% load crispy_forms_tags %}
{% block contenido %}
<section id="services" class="section-bg">
  <div class="container">
      <div id="row" class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="magen col-md-12">
                        <!-- ################################# -->
                        <!-- recien aca comienza el formulario 
                        TODO:'username','email','first_name','last_name','password1','password2'TODO:-->
                        <!-- ################################# -->
                        <form class="form" method="POST" enctype="multipart/form-data">{%csrf_token%}
                            <h4 class="text-center" style=" background-color: #065e77;
                            color: white; border-radius: 2px;
                            padding: 10px;">Registrate como colaborador</h4><br>
                            {{ form.non_field_errors }}
                            {{form|crispy}}
                            <div class="text-center form-group">
                                <div class="text-center">
                                    <input type="submit" name="submit" class="btn btn-info btn-md entrer" value="Registrar">
                                    <input type="reset" name="reset" class="btn btn-info btn-md entrer" value="Cancelar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}